allow init init:socked read;
allow init init:netlink_kobject_uevent_socket read;
allow init self:netlink_kobject_uevent_socket { bind create setopt };
